<template name="appHeader">

		<!-- Header -->
	  <header class="mdl-layout__header mdl-layout__header--transparent">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title">Sitemap</span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>
	      <!-- Navigation -->
	      <nav class="mdl-navigation">
	        <a class="mdl-navigation__link" href="">USERS</a>
	        <a class="mdl-navigation__link" href="">CHAPTERS</a>
	        <a class="mdl-navigation__link" href="">EVENTS</a>
	      </nav>
	    </div>
	  </header>
	  
</template>