<template name="appHeader">

		<!-- Header -->
	  <header class="mdl-layout__header mdl-layout__header--transparent">
	    <div class="mdl-layout__header-row">
	      <!-- Title -->
	      <span class="mdl-layout-title">Sitemap</span>
	      <!-- Add spacer, to align navigation to the right -->
	      <div class="mdl-layout-spacer"></div>
	      <!-- Navigation -->
	      <nav class="mdl-navigation">
	        <a class="mdl-navigation__link" href="">USERS</a>
	        <a class="mdl-navigation__link" href="">CHAPTERS</a>
	        <a class="mdl-navigation__link" href="">EVENTS</a>
	      </nav>

	      <!-- Search bar -->
	      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
	                  mdl-textfield--floating-label mdl-textfield--align-right">
	        <label class="mdl-button mdl-js-button mdl-button--icon"
	               for="fixed-header-drawer-exp">
	          <i class="material-icons">search</i>
	        </label>
	        <div class="mdl-textfield__expandable-holder">
	          <input class="mdl-textfield__input" type="text" name="sample"
	                 id="fixed-header-drawer-exp" />
	        </div>
	      </div>

	    </div>
	  </header>

</template>