/* Uses a transparent header that draws on top of the layout's background */
.layout-transparent {
  background: url('/demos/unsplash.jpg') center / cover;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

/* Floating call-to-action */
#view-cta {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 150px;
  z-index: 900;
}